.container-content-1 {
    display: flex;
    flex-direction: row;
}

.content {
    text-align: left;
}

ul li {
    list-style-type: square;
}

.nav-item {
    list-style-type: none;
}

.linha-vertical {
    height: 50px;
    /*Altura da linha*/
    border-left: 2px solid;
    /* Adiciona borda esquerda na div como ser fosse uma linha.*/
}